<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"},"style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group">

	<!-- wp:pattern {"slug":"eliashof/hero-blog"} /-->

	<!-- wp:group {"className":"eliashof-subpage-content-wrapper","layout":{"type":"constrained"}} -->
	<div class="wp-block-group eliashof-subpage-content-wrapper">
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
