<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"},"style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group">

	<!-- wp:pattern {"slug":"eliashof/hero-blog-schule"} /-->

	<!-- wp:group {"className":"eliashof-subpage-content-wrapper","layout":{"type":"constrained"}} -->
	<div class="wp-block-group eliashof-subpage-content-wrapper">
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- wp:group {"className":"eliashof-post-navigation"} -->
	<div class="wp-block-group eliashof-post-navigation">
		<div class="eliashof-post-nav-prev">
			<!-- wp:post-navigation-link {"type":"previous","label":"VORHERIGER BEITRAG","linkLabel":true} /-->
		</div>
		<div class="eliashof-post-nav-home">
			<a class="wp-block-button__link wp-element-button" href="/">ZURÜCK ZUR STARTSEITE</a>
		</div>
		<div class="eliashof-post-nav-next">
			<!-- wp:post-navigation-link {"type":"next","label":"NÄCHSTER BEITRAG","linkLabel":true} /-->
		</div>
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
